{% extends 'frontend/website/master/master.html' %}

{% block title %} Category | News Portal {% endblock %}

{% block content %}
<!--MAIN NEWS-->
<div class="fl-main-news-wrapper">
    <div class="container">
        <div class="row same-height">
            <div class="col-md-12">
                <div class="main-news-wrapper">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="{% url 'main_news' %}">Main News</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <section class="main-news-entry">
                        <article class="main-news-big-content">
                            <a href="{% url 'news' main1.slug %}">
                                <h1>{{main1.title}}&nbsp;</h1>
                                <figure>
                                   {% if main1.image %}
                                        <img src="{{MEDIA_URL}}{{main1.image.url}}" alt="image">
                                    {% else %}
                                        NO image
                                    {% endif %}
                                </figure>
                            </a>
                            <p>{{main1.description}}</p>
                        </article>
                        <div class="row">
                            {% for main in mains %}
                            <article class="col-md-6">

                                <div class="main-news-small-content">
                                    <a href="{% url 'news' main.slug %}">
                                        <h2>{{ main.title }}</h2>
                                        <div class="main-news-small-detail">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-4">
                                                    <figure>
                                                         {% if main.image %}
                                                            <img src="{{MEDIA_URL}}{{main.image.url}}" alt="image">
                                                        {% else %}
                                                            NO image
                                                        {% endif %}
                                                    </figure>
                                                </div>
                                                <div class="col-md-7 col-sm-8">
                                                    <p>{{main.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </article>
                            {% endfor %}


                        </div>
                    </section>
                </div>
            </div>


        </div>
    </div>
</div>

<!--Sports News-->
<div class="fl-sports-country-news-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sports-news-wrapper">
                     <header class="news-header">
                        <h2>
                            <span>
                                <a href="{% url 'category' head_list.slug1 %}">{{head_list.title1}}</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="international-new-content">
                        <div class="row">
                            {% for cat1 in cat1_news %}
                            <div class="col-md-4">
                                <article class="international-news-big-content">
                                    <a href="{% url 'news' cat1.slug %}">
                                        <h1>{{cat1.title}}</h1>
                                        <figure>
                                             {% if cat1.image %}
                                                <img src="{{MEDIA_URL}}{{cat1.image.url}}" alt="image">
                                             {% else %}
                                                NO image
                                             {% endif %}
                                        </figure>
                                    </a>
                                    <p>{{cat1.description}}</p>
                                </article>
                            </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Health news -->
<div class="fl-mixed-business-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="mixed-business-wrapper">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="{% url 'category' head_list.slug2 %}">{{head_list.title2}}</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="mixed-business-content">
                        <div class="row">
                            {% for cat2 in cat2_news %}
                            <div class="col-md-4.5">
                                <div class="mixed-business-big">
                                    <figure>
                                        <img src="{{MEDIA_URL}}{{cat2.image.url}}" alt="image" width="100%">
                                    </figure>
                                    <div class="health-content">
                                        <a href="{% url 'news' cat2.slug %}"><h1>{{ cat2.title}}</h1></a>
<!--                                        <p>{{ cat2.description }}</p>-->
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar-country-news">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="{% url 'category' head_list.slug3 %}">{{head_list.title3}}</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="sidebar-country-news-section">
                        <div role="tabpanel" class="tab-pane active" id="latest">
                            <div class="sidebar-country-news-content">
                                <ul>
                                    {% for cat3 in cat3_news %}
                                    <li>
                                        <div class="country-news-content">
                                            <a href="{% url 'news' cat3.slug %}">
                                                <h4> {{cat3.title}} </h4>
                                            </a>
                                        </div>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Technology news-->
<div class="fl-health-news-wrapper">
    <div class="container">
        <div class="row">
                        <div class="col-md-12">
                <div class="health-news-content">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="{% url 'category' head_list.slug4 %}">{{head_list.title4}}</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="health-news-slider">
                        <div class="owl-carousel owl-theme type1">
                        {% for news5 in cat4_news %}
                            <div class="item">
                                <div class="health-news-detail">
                                    <figure>
                                        <img src="{{MEDIA_URL}}{{news5.image.url}}" alt="image">
                                    </figure>

                                    <a href="{% url 'news' news5.slug %}">
                                        <h1>{{news5.title}}</h1>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock %}