{% extends 'frontend/master/master.html' %}

{% block 'title' %}Category | News Portal{% endblock %}

{% block 'content' %}

<!--list page-->
<div class="fl-list-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="list-page-container">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="#">{{cat}}</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>
                            {% for n in news %}
                    <div class="news-content">
                        <header>
                            <a href="third_page.html"><h1>{{n.title}}</h1></a>
                        </header>
                        <figure>
                            <img src=  alt="image">
                        </figure>
                        <time><i class="fa fa-clock-o">{{n.publish_date}}</i>
                                    </time>

                        <p>{{n.description | truncatewords:20}}</p>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}

                </div>
            </div>

            <div class="col-md-3">
                <div class="place-for-ads">
                    <figure>
                        <img src="image/adv3.jpg">
                    </figure>

                </div>
            </div>
        </div>
    </div>
</div>
