{% extends 'frontend/website/master/master.html' %}

{% block title %}{{cat}} | News Portal{% endblock %}

{% block content %}

<!--list page-->
<div class="fl-list-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-page-container">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="#">{{cat}}</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>
                            {% for n in posts %}
                    <div class="news-content">
                        <header>
                            <a href="{% url 'news' n.slug %}"><h1>{{n.title}}</h1></a>
                        </header>
                       <figure>
                        {% if n.image %}
                            <img src="{{MEDIA_URL}}{{n.image.url}}" alt="image">
                        {% else %}
                            NO image
                        {% endif %}
                        </figure>
                        <time><i class="fa fa-clock-o">{{n.publish_date}}</i>
                                    </time>

                        <p>{{n.description | truncatewords:20}}</p>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}

                </div>


                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if posts.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ posts.number }}">{{posts.number}}</a></li>
                                {% endif %}
                                {% for pg in posts.paginator_page_range %}
                                    {% if posts.number == pg %}
                                        <li class="page-item"><a class="page-link" href="?page={{ posts.number }}">{{pg}}</a></li>

                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ posts.number }}">{{pg}}</a></li>
                                    {% endif %}
                                {% endfor %}
                                 {% if posts.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
                                {% endif %}
                            </ul>
                        </nav>

            </div>



        </div>
    </div>
</div>
{% endblock %}