{% extends 'frontend/website/master/master.html' %}

{% block title %}Main News | News Portal{% endblock %}

{% block content %}

<!--list page-->
<div class="fl-list-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="list-page-container">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="#">Main News</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>
                            {% for n in main_news %}
                    <div class="news-content">
                        <header>
                            <a href="{% url 'news' n.slug %}"><h1>{{n.title}}</h1></a>
                        </header>
                       <figure>
                        {% if n.image %}
                            <img src="{{MEDIA_URL}}{{n.image.url}}" alt="image">
                        {% else %}
                            NO image
                        {% endif %}
                        </figure>
                        <time><i class="fa fa-clock-o">{{n.publish_date}}</i>
                                    </time>

                        <p>{{n.description | truncatewords:20}}</p>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}

                </div>
            </div>


            <div class="col-md-3">
                <div class="place-for-ads">
                    <figure>
                        <img src="image/adv3.jpg">
                    </figure>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}