{% extends 'base/base.html' %}

{% block 'title' %}Home | News Portal{% endblock %}

{% block 'content' %}
{% load static %}

<div class="fl-detail-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="detail-page-container">
                            <header class="news-header">
                                <h2>
                                    <span>
                                        <a href="#">Sports</a>
                                    </span>
                                </h2>
                                <div class="clearfix"></div>
                            </header>

                            <div class="news-detail-content">
                                <header>
                                    <h1>दMessi </h1>
                                </header>

                                <time>Date and Time<span></span></time>

                                <div class="share-option">
                                    <ul>
                                        <li>100 shares</li>

                                        <li><a href="#"><i class="fa fa-facebook-f"></i>share</a></li>

                                        <li><a href="#"><i class="fa fa-twitter"></i>tweet</a></li>
                                    </ul>
                                </div>

                                <figure>
                                    <img src="image/p1.jpg" alt="image">
                                </figure>

                                <p>Messi is best</p>

                                <p>
                                   Rolando
                                </p>

                                <p>
                                   Nindra lago
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <header class="news-header">
                            <h2>topics</h2>
                            <div class="clearfix"></div>
                        </header>
                    </div>

                    <div class="col-md-3">
                        <div class="page-related-news-detail">
                            <figure>
                                <img src="image/n1.jpg" alt="image">
                            </figure>

                            <a href="#">
                                <h1>Jay shree ram</h1>
                            </a>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-form">
                            <h3>Your Opinion</h3>
                            <form>
                                <label>Name(Must)</label>
                                <input type="text" name="name" placeholder="Your name">


                                <label>Email(Must)</label>
                                <input type="email" name="email" placeholder="Your email">


                                <label>Feedback </label>
                                <textarea name="name" placeholder="message"></textarea>
                                <input type="submit" name="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="place-for-ads">
                    <figure>
                        <img src="image/adv3.jpg">
                    </figure>

                </div>
            </div>
        </div>
    </div>
</div>
