{% extends 'frontend/website/master/master.html' %}

{% block title %}Home | News Portal{% endblock %}

{% block content %}
{% load static %}

<div class="fl-detail-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="detail-page-container">
                            <header class="news-header">
                                <h2>
                                    <span>
                                        <a href="#">{{news.category}}</a>
                                    </span>
                                </h2>
                                <div class="clearfix"></div>
                            </header>

                            <div class="news-detail-content">
                                <header>
                                    <h1>{{news.title}} </h1>
                                </header>

                                <time>Date and Time <span> {{news.created_date}}</span></time>

                                <div class="share-option">
                                    <ul>
                                        <li>100 shares</li>

                                        <li><a href="#"><i class="fa fa-facebook-f"></i>share</a></li>

                                        <li><a href="#"><i class="fa fa-twitter"></i>tweet</a></li>
                                    </ul>
                                </div>

                               <figure>
                        {% if news.image %}
                            <img src="{{MEDIA_URL}}{{news.image.url}}" alt="image">
                        {% else %}
                            NO image
                        {% endif %}
                        </figure>

                                <p>{{news.description}}</p>


                            </div>
                        </div>
                    </div>
                </div>

<!--                related news-->

<!--                <div class="row">-->
<!--                    <div class="col-md-12">-->
<!--                        <header class="news-header">-->
<!--                            <h2>topics</h2>-->
<!--                            <div class="clearfix"></div>-->
<!--                        </header>-->
<!--                    </div>-->

<!--                    <div class="col-md-3">-->
<!--                        <div class="page-related-news-detail">-->
<!--                            <figure>-->
<!--                                <img src="image/n1.jpg" alt="image">-->
<!--                            </figure>-->

<!--                            <a href="#">-->
<!--                                <h1>Jay shree ram</h1>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                </div>-->

                <div class="row">
                    <div class="col-md-12">
<!--                        <div class="contact-form">-->
<!--                            <h3>Your Opinion</h3>-->
<!--                            <div class="fb-comments" data-href="{{request.get_full_path}}"  data-width="100%"  data-numposts="5"></div>-->
                            <div class="fb-comments" data-href="http://127.0.0.1:8000/{{request.path}}" data-width="100%" data-numposts="5"></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}