{% extends "backend/master/master.html" %}

{% block js %}

<script type="text/javascript">
    $(document).ready(function(){

      $("#title").keyup(function(){
          var Text = $(this).val();
          Text = Text.toLowerCase();
          var regExp = /\s+/g;
          Text = Text.replace(regExp,'-');
          $("#slug").val(Text);        
      });


      $("#id_description").change(function(){
        var desc = $(this).val();

        $.ajax({
          url: '/news_category_ajax/',
          data: {
            'desc': desc,
          },
          method: "get",
          dataType: 'json',
          success: function (data) {
            console.log(data);
          }
        });

      });


    });
</script>
{% endblock %}

{% block title %}
<title>Create of News | Admin Panel</title>
{% endblock %}

{% block content %}
<!-- start: Content -->
<div id="content">
        <div class="panel box-shadow-none content-header">
          <div class="panel-body">
            <div class="col-md-12">
                <h4 class="animated fadeInLeft">
                    News <span class="fa-angle-right fa"></span> Create
                    <a href="{% url 'list_news' %}" class="btn btn-3d btn-primary"><span class="fa fa-plus"></span> List</a>

                </h4>
                {% include 'backend/includes/message.html' %}
            </div>
          </div>
        </div>
        <div class="form-element">
          <div class="col-md-12 padding-0">
            <div class="col-md-12">
              <div class="panel form-element-padding">
                <div class="panel-heading">
                 <h4>News Management</h4>
                </div>
                 <div class="panel-body" style="padding-bottom:30px;">
                  <div class="col-md-12">
                    <form action="" method="POST" id="news_form" data-validate-username-url="{% url 'news_category_ajax' %}" novalidate="" enctype="multipart/form-data">
                     {% csrf_token %}
                        {{ form.as_p }}

                    <div class="form-group">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                          <input type="submit" class="btn ripple-infinite  btn-round btn-success" value="Save!">
                          <input type="reset" class="btn ripple-infinite  btn-round btn-warning" value="Cancel!">
                        </div>
                      </div>
                    </form>
                    
                    
                        
                      </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>

          
      </div>
    </div>
  <!-- end: content -->


{% endblock %}

